.container-sm {
  max-width: 45%;
  background-color: #E5E5E5;
  font-size: larger;
  min-height: fit-content;
  align-items: center;
}

input[readonly]{
  background-color: white;
}

span {
  background-color: white;
}
