<div class="row container">
  <div class="col-md-1 columns-2 ml-auto h-50" style="max-height: min-content;">
    <div *ngIf="isDriver && currentOrder">
      <div *ngIf="currentOrder.status !== 'FINISHED' && currentOrder.status !== 'FAILED'" class="row p-2">
        <button *ngIf="currentOrder.status == 'PENDING_CONFIRMATION'"
              (click)="changeOrderStatus('CONFIRMED')" [disabled]="isDisabled"
              type="button" class="btn btn-outline-secondary p-1 mt-1">Confirm</button>
        <button *ngIf="currentOrder.status == 'PENDING_CONFIRMATION'"
              (click)="changeOrderStatus('REJECTED')" [disabled]="isDisabled"
              type="button" class="btn btn-outline-secondary p-1 mt-1">Reject</button>
        <button *ngIf="currentOrder.status == 'CONFIRMED'"
              (click)="changeOrderStatus('STARTED')" [disabled]="isDisabled"
              type="button" class="btn btn-outline-secondary p-1 mt-1">Start</button>
        <button *ngIf="currentOrder.status == 'STARTED'"
              (click)="changeOrderStatus('FINISHED')" [disabled]="isDisabled"
              type="button" class="btn btn-outline-secondary p-1 mt-1">End</button>
        <button *ngIf="currentOrder.status == 'STARTED'"
              (click)="changeOrderStatus('FAILED')" [disabled]="isDisabled"
              type="button" class="btn btn-outline-secondary p-1 mt-1">Failed</button>
      </div>
    </div>
  </div>
  <div class="container-sm columns p-2 col-md-8 offset-md-2">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <form class="form-horizontal m-1" role="form" [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
      <h2 *ngIf="currentOrder" id="cap" style="text-align: center;">{{currentOrder.title}}</h2>
      <div id="map" class="map-container"> </div>
      <dialog id="fromMapDialog" class="container-sm p-2">
        <google-map width="100%" (mapClick)="fromClick($event)"></google-map>
      </dialog>
      <dialog id="toMapDialog" class="container-sm p-2">
        <google-map width="100%" (mapClick)="toClick($event)"></google-map>
      </dialog>
      <div *ngIf="currentOrder" class="border-1 mt-3 p-2">
        <b>Status: </b>{{currentOrder.status.replace('_',' ').toLowerCase()}}<br/>
        <b>Date: </b> {{currentOrder.deadline | date:'fullDate'}} <br/>
        <b>Weight: </b>{{currentOrder.weight}} <br/>
        <b>Volume: </b>{{currentOrder.volume}} <br/>
        <div *ngIf="currentOrder.description">
          <b>Description: </b>{{currentOrder.description}} <br/>
        </div>
      </div>

      <div *ngIf="!isDriver" class="form-group">
        <div class="form-row">
          <div class="col-sm-6 form-group">
            <label for="carplate" class="col-sm-12 control-label">Car plate</label>
            <div class="col-sm-12">
              <label for="carplate-select"></label>
              <select id="carplate-select" formControlName="carplate" class="form-control"
                                                           name="carplate"></select>
              <div *ngIf="carplateMessage" style="color: red;">
                {{carplateMessage}}
              </div>
            </div>
          </div>
          <label for="drivername" class="col-sm-12 control-label">Driver's full name</label>
          <div class="col-sm-12">
            <label>
              <input formControlName="drivername" class="form-control" name="drivername" readonly>
            </label>
            <div *ngIf="drivernameMessage" style="color: red;">
              {{drivernameMessage}}
            </div>
          </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Assign</button>
      </div>
    </form>
  </div>
  <div class="col-md-1 columns-2 ml-auto h-50" style="max-height: min-content;">
    <div class="p-2">
      <button *ngIf="isDriver" routerLink="/app/driver"
              type="button" class="btn btn-outline-secondary p-1 mt-1">Go back</button>
      <button *ngIf="!isDriver" routerLink="/app/admin"
              type="button" class="btn btn-outline-secondary p-1 mt-1">Go back</button>
    </div>
  </div>
</div>
