<div class="container-sm p-2">
    <form class="form-horizontal m-1" role="form" [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
        <h2 id="cap" style="text-align: center;">Create Order</h2>

    </form>
</div>

<dialog id="fromMapDialog" class="container-sm p-2">
    <google-map width="100%" (mapClick)="fromClick($event)"></google-map>
</dialog>

<dialog id="toMapDialog" class="container-sm p-2">
    <google-map width="100%" (mapClick)="toClick($event)"></google-map>
</dialog>
