<div class="container-sm p-2">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <form class="form-horizontal m-1" role="form" [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
        <h2 id="cap" style="text-align: center;">Show Order</h2>
        <div id="map" class="map-container"> </div>

    </form>
</div>

<dialog id="fromMapDialog" class="container-sm p-2">
    <google-map width="100%" (mapClick)="fromClick($event)"></google-map>
</dialog>

<dialog id="toMapDialog" class="container-sm p-2">
    <google-map width="100%" (mapClick)="toClick($event)"></google-map>
</dialog>