<div class="container-sm p-2" >
    <form class="form-horizontal m-1" role="form" [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
        <h2 style="text-align: center;">Create Order</h2>
        <div class="form-group" >
            <label for="title" class="col-sm-12 control-label">Title</label>
            <div class="col-sm-12">
                <input formControlName="title" placeholder="Title" class="form-control" name= "title">
                <div *ngIf="titleMessage" style="color: red;">
                    {{titleMessage}}
                  </div>
            </div>  
        </div>
       <div class="form-group">
            <label for="descriprion" class="col-sm-12 control-label">Description</label>
            <div class="col-sm-12">
                <input formControlName="description" placeholder="Description" class="form-control" name= "description">
                <div *ngIf="descriptionMessage" style="color: red;">
                    {{descriptionMessage}}
                  </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="weight" class="col-sm-12 control-label">Weight</label>
                <div class="col-sm-12">
                    <input formControlName="weight" placeholder="Weight" class="form-control" name= "weight">
                    <div *ngIf="weightMessage" style="color: red;">
                        {{weightMessage}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label for="volume" class="col-sm-12 control-label">Volume</label>
                <div class="col-sm-12">
                    <input formControlName="volume" placeholder="Volume" class="form-control" name= "volume">
                    <div *ngIf="volumeMessage" style="color: red;">
                        {{volumeMessage}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="to" class="col-sm-12 control-label">To</label>
                <div class="col-sm-12">
                    <input formControlName="from" placeholder="From" class="form-control" name= "from">
                    <div *ngIf="fromMessage" style="color: red;">
                        {{fromMessage}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label for="from" class="col-sm-12 control-label">From</label>
                <div class="col-sm-12">
                    <input formControlName="to" placeholder="To" class="form-control" name= "to">
                    <div *ngIf="toMessage" style="color: red;">
                        {{toMessage}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="carplate" class="col-sm-12 control-label">Car plate</label>
                <div class="col-sm-12">
                    <input formControlName="carplate" placeholder="Car plate" class="form-control" name= "carplate">
                    <div *ngIf="carplateMessage" style="color: red;">
                        {{carplateMessage}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label for="deadline" class="col-sm-12 control-label">Deadline</label>
                <div class="col-sm-12">
                    <input formControlName="deadline" placeholder="Deadline" class="form-control" name= "deadline">
                    <div *ngIf="deadlineMessage" style="color: red;">
                        {{deadlineMessage}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="drivername" class="col-sm-12 control-label">Driver's full name</label>
            <div class="col-sm-12">
                <input formControlName="drivername" placeholder="Choose a car plate" class="form-control" name= "drivername" readonly="true">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Assign</button>
    </form>
</div>
