<div class="row container">
    <div class="col-md-1 columns-2 mr-auto h-50" style="max-height: min-content;">
        <div class="row p-2">
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1" routerLink="/app/admin/order">Place an order</button>
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1" routerLink="/app/admin/car-creating">Add car</button>
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1" routerLink="/app/admin/invite">Invite moderator</button>
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1" routerLink="/app/show-days-off">Days Off</button>
        </div>
    </div>
    <div class="columns p-2 pl-5 col-md-8 offset-md-1 ">
        <div class="row">
            <h1>
                {{currentUser.fullname}}
            </h1>

        </div>
        <div>
            <div class="mb-4" style="font-size:x-large;">
                Orders
            </div>
            <mat-tab-group (selectedTabChange)="reload($event)">
                <mat-tab label="Rejected">
                    <div *ngIf="!rejectedArray || rejectedArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group " style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of rejectedArray ">
                          <div class="border-1 p-2">
                            <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                            <b>Assigned to:</b> {{order.driver_name}} <br/>
                            <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                            <div *ngIf="order.description">
                                <b>Description: </b>{{order.description}} <br/>
                            </div>
                          </div>
                        </li>
                    </ul>
                </mat-tab>
                <mat-tab label="Confirmation Pending">
                    <div *ngIf="!confirmPendingArray || confirmPendingArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group " style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of confirmPendingArray ">
                          <div class="border-1 p-2">
                            <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                            <b>Assigned to:</b> {{order.driver_name}} <br/>
                            <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                            <div *ngIf="order.description">
                                <b>Description: </b>{{order.description}} <br/>
                            </div>
                          </div>
                        </li>
                    </ul>

                </mat-tab>
                <mat-tab label="Confirmed ">
                    <div *ngIf="!confirmedArray || confirmedArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group " style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of confirmedArray ">
                          <div class="border-1 p-2">
                            <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                            <b>Assigned to:</b> {{order.driver_name}} <br/>
                            <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                            <div *ngIf="order.description">
                                <b>Description: </b>{{order.description}} <br/>
                            </div>
                          </div>
                        </li>
                    </ul>

                </mat-tab>
                <mat-tab label="Finished ">
                    <div *ngIf="!finishedArray || finishedArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group " style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of finishedArray ">
                          <div class="border-1 p-2">
                            <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                            <b>Assigned to:</b> {{order.driver_name}} <br/>
                            <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                            <div *ngIf="order.description">
                                <b>Description: </b>{{order.description}} <br/>
                            </div>
                          </div>
                        </li>
                    </ul>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>
    <div class="col-md-1 columns-2 ml-auto h-50 " style="max-height: min-content; ">
        <div class="row p-2 ">
            <button type="button " class="btn btn-outline-secondary p-1 mt-1 " routerLink="/app/change-password">Change password</button>
        </div>
    </div>
</div>
