<div class="row container">
    <div class="col-md-1 columns-2 mr-auto h-50" style="max-height: min-content;">
        <div class="row p-2">
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1">Place an order</button>
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1">Add a car</button>
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1">Invite a moderator</button>
            <button type="button" class="w-100 btn btn-outline-secondary p-1 mt-1">Requests for days off</button>
        </div>
    </div>
    <div class="columns p-2 pl-5 col-md-8 offset-md-1 ">
        <div class="row">
            <h1>
                {{currentUser.fullname}}
            </h1>

        </div>
        <div>
            <div class="mb-4" style="font-size:x-large;">
                Orders
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Rejected</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Confirmation pending</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Confirmed</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Finished</a>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent" style="min-height:15vh;">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1 columns-2 ml-auto h-50" style="max-height: min-content;">
        <div class="row p-2">
            <button type="button" class="btn btn-outline-secondary p-1 mt-1">Change password</button>
        </div>
    </div>
</div>