<div class="container-sm p-2" >
  <form class="form-horizontal m-1" role="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
    <h2 style="text-align: center;">Reset your password</h2>
    <div class="form-group">
      <label for="oldPassword" class="col-3 control-label">Old password</label>
      <div class="col-sm-12">
        <input type="password" formControlName="oldPassword" placeholder="Old password" class="form-control">
        <div *ngIf="oldPasswordMessage" style="color: red;">
          {{oldPasswordMessage}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword" class="col-3 control-label">New password</label>
      <div class="col-sm-12">
        <input type="password" formControlName="newPassword" placeholder="New password" class="form-control">
        <div *ngIf="newPasswordMessage" style="color: red;">
          {{newPasswordMessage}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword" class="col-4 control-label">Confirm new password</label>
      <div class="col-sm-12">
        <input type="password" formControlName="confirmNewPassword" placeholder="Confirm new password" class="form-control">
        <div *ngIf="confirmNewPasswordMessage" style="color: red;">
          {{confirmNewPasswordMessage}}
        </div>
      </div>
    </div>
    <button type="submit" class="mt-2 btn btn-primary btn-block">Reset password</button>
  </form>
</div>
