<script src="../app.module.ts"></script>
<div class="row container">
    <div class="columns p-2 col-md-8 offset-md-2">
        <div id="cap" class="row ml-1">
            <h1>
                {{currentUser.fullname}}
            </h1>
        </div>
        <div class="row mt-5 mr-1 p-2 ml-1">
            <div class="platedata col-md-8 offset-md-4 pb-2" style="background-color: darkgray;">
                <h1 style="text-align: center;">
                    {{ driversCar === undefined ? "????????" : driversCar.plate }}
                </h1>
                <div style="font-size:larger;">
                    <div class="row">
                        <div class="col-md">
                            Capacity:
                        </div>
                        <div class="col-md offset-md-3"> {{ driversCar === undefined ? "??" :
                          driversCar.capacity }} cubic meters
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md" style="text-align: left;">
                            Load Capacity:
                        </div>

                        <div class="col-md offset-md-3">{{ driversCar === undefined ? "??" :
                          driversCar.loadCapacity }} tons
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            Fuel consumption:
                        </div>
                        <div class="col-md offset-md-3">{{ driversCar === undefined ? "??" :
                          driversCar.fuelConsumption }} L/km
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1 class="mb-4">
                Orders
            </h1>
            <mat-tab-group (selectedTabChange)="reload($event.index)">

                <mat-tab label="To confirm">
                    <div *ngIf="!confirmPendingArray || confirmPendingArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group" style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of confirmPendingArray ">
                          <div class="row border-1 p-2">
                            <div class="col-8">
                              <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                              <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                              <div *ngIf="order.description">
                                  <b>Description: </b>{{order.description}} <br/>
                              </div>
                            </div>
                            <div class="col-md-auto align:center">
                              <button type="button" class="btn btn-outline-primary btn-sm p-1 mt-1"
                                      [disabled]="isDisabled"
                                      (click)="changeOrderStatus(order, 'REJECTED')">Reject</button>
                            </div>
                            <div class="col-md-auto align:center">
                              <button type="button" class="btn btn-outline-primary btn-sm p-1 mt-1"
                                      [disabled]="isDisabled"
                                      (click)="changeOrderStatus(order, 'CONFIRMED')">Confirm</button>
                            </div>
                          </div>
                        </li>
                    </ul>
                </mat-tab>

                <mat-tab label="Upcoming">
                    <div *ngIf="!upcomingArray || upcomingArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group " style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of upcomingArray ">
                          <div class="border-1 p-2">
                            <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                            <b>Status:</b> {{order.status | titlecase}} <br/>
                            <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                            <div *ngIf="order.description">
                                <b>Description: </b>{{order.description}} <br/>
                            </div>
                          </div>
                        </li>
                    </ul>
                </mat-tab>

                <mat-tab label="Finished ">
                    <div *ngIf="!finishedArray || finishedArray.length==0" class="mt-1">
                        <h3>No orders found</h3>
                    </div>
                    <ul class="no-bullets list-group " style="margin-bottom: 1em;">
                        <li class="list-group-item" *ngFor="let order of finishedArray ">
                          <div class="border-1 p-2">
                              <h5><a routerLink="/app/orders/{{order.orderId}}">{{order.title}}</a></h5>
                              <b>Date: </b> {{order.deadline | date:'fullDate'}} <br/>
                              <div *ngIf="order.description">
                                  <b>Description: </b>{{order.description}} <br/>
                              </div>
                          </div>
                        </li>
                    </ul>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
    <div class="col-md-1 columns-2 ml-auto h-50" style="max-height: min-content;">
        <div class="row p-2">
            <button type="button" class="btn btn-outline-secondary p-1 mt-1 w-100" routerLink="/app/change-password">Change password</button>
            <button type="button" class="btn btn-outline-secondary p-1 mt-1 w-100" routerLink="/app/show-days-off">Days Off</button>
            <button type="button" onclick="document.getElementById('carplateDialog').showModal();
                    " *ngIf="driversCar === undefined"
                    class="btn btn-outline-secondary p-1 mt-1 w-100">Choose the Car</button>
        </div>
    </div>
</div>

<dialog id="carplateDialog" class="container-sm p-2">
    <form class="form-horizontal m-1" role="form"
          [formGroup]="carplateForm" (ngSubmit)="onCarplateSubmit(carplateForm.value)">
        <div class="form-group">
            <label class="col-sm-12 control-label">Choose a car plate</label>
            <div class="col-sm-12">
              <label for="carplate-select"></label><select id="carplate-select" formControlName="cars" class="form-control" name="cars">
                    <option *ngFor="let car of cars" [value]="car">
                        {{car}}
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" onclick="document.getElementById('carplateDialog').close();
                " class="btn btn-primary btn-block col-sm-6 offset-sm-3">Choose</button>
    </form>
</dialog>
