<div class="container-sm p-2" >
    <form class="form-horizontal m-1" role="form" [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value)" >
        <h2 style="text-align: center;">Reset your password</h2>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input formControlName="email" type="email" id="email" placeholder="Email" class="form-control" name= "email">
                <div *ngIf="emailMessage" style="color: red;">
                    {{emailMessage}}
                  </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Reset</button>
    </form> 
</div> 
