<div class="container pt-2 pb-1">
    <div class="row">
        <a class="col-2" routerLink="{{link}}">
            <img class="img-fluid" src="assets/img/logo.png" style="max-height:3em">
        </a>
        <div class="d-flex offset-3">
            <a id="cap" style="text-decoration: none; font-size: larger;" routerLink="{{link}}">
          KyivTransComp
        </a>
        </div>
        <div class="offset-4 row" *ngIf="!isLoggedIn">
            <div class="col-6">
                <a routerLink="/login">
          Log In
          </a>
            </div>
            <div class="col-6" style="display: inline-block;">
                <a routerLink="/signup">
            Sign Up 
          </a>
            </div>
        </div>
        <div class="offset-3 row" *ngIf="isLoggedIn">
            <div class="col-4" *ngIf="isAdmin" style="display: inline-block;">
                <a routerLink="/app/admin/vehicles">
            Cars
          </a>
            </div>
            <div class="col-4" *ngIf="isAdmin" style="display: inline-block;">
                <a routerLink="/app/admin/drivers">
            Drivers
          </a>
            </div>
            <div class="col-8" *ngIf="!isAdmin" style="display: inline-block;">
                <a>
                </a>
            </div>
            <div class="col-4">
                <a [routerLink]="" (click)="signOut();">
            Sign Out
          </a>
            </div>
        </div>
    </div>
</div>